/** @format */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#footer {
	text-align: center;
}

.jonLink {
	display: flex;
	text-decoration: none;
	color: black;
	font-weight: bold;
	height: fit-content;
	justify-content: center;
	padding-bottom: 1em;
	padding-top: 0em;
}

#footer {
	background: rgb(2, 0, 36);
	background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(205, 191, 20, 1) 48%, rgba(0, 212, 255, 1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(205, 191, 20, 1) 48%, rgba(0, 212, 255, 1) 100%);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(205, 191, 20, 1) 48%, rgba(0, 212, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
	padding-top: 0.5em;
}

#header {
	text-align: center;
	background: rgb(2, 0, 36);
	background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(205, 191, 20, 1) 48%, rgba(0, 212, 255, 1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(205, 191, 20, 1) 48%, rgba(0, 212, 255, 1) 100%);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(205, 191, 20, 1) 48%, rgba(0, 212, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
	font-variant: small-caps;
}
